@page "/"

@using MonDKP.Web.Data
@using MonDKP.Entities
@using Microsoft.Extensions.Primitives
@using GridShared.Sorting
@inject MonDkpDatabaseService DkpService

<h1>DKP List</h1>

@if (task.IsCompleted)
{
    <GridComponent T="DkpEntry" Grid="@dkpGrid"></GridComponent>
}
else
{
    <p><em>Loading...</em></p>
}

@code
{
    private CGrid<DkpEntry> dkpGrid;
    private Task task;

    protected override async Task OnParametersSetAsync()
    {
        Action<IGridColumnCollection<DkpEntry>> columns = c =>
        {
            c.Add(o => o.Player).Sortable(true);
            c.Add(o => o.Class).Sortable(false);
            c.Add(o => o.Dkp).Sortable(true).SortInitialDirection(GridSortDirection.Descending);
        };

        var query = new QueryDictionary<StringValues>();
        var client = new GridClient<DkpEntry>(q => DkpService.GetDkpGridRowsAsync(columns, q), query, false, "dkpGrid", columns);
        client.Filterable(true);
        client.Searchable(true);
        client.SetExcelExport(true);
        dkpGrid = client.Grid;

        // Set new items to grid
        task = client.UpdateGrid();
        await task;
    }
}