@page "/"

@using MonDKP.Web.Data
@using MonDKP.Entities
@inject MonDkpDatabaseService DkpService

<h1>DKP List</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (dkpEntries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Class</th>
                <th>DKP</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dkpEntry in dkpEntries)
            {
                <tr>
                    <td>@dkpEntry.Player</td>
                    <td>@dkpEntry.Class</td>
                    <td>@dkpEntry.Dkp</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<DkpEntry> dkpEntries;

    protected override async Task OnInitializedAsync()
    {
        dkpEntries = await DkpService.GetDkpListAsync();
    }
}
