@page "/LootList"

@using MonDKP.Web.Data
@using MonDKP.Entities
@inject MonDkpDatabaseService DkpService

<h1>Loot List</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (lootEntries == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name <input @bind-value="SearchPlayer" @bind-value:event="oninput" /></th>
                <th>Item <input @bind-value="SearchItem" @bind-value:event="oninput" /></th>
                <th>DKP</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var lootEntry in FilteredLootEntries)
            {
                <tr>
                    <td>@lootEntry.Player</td>
                    <td><a href="https://classic.wowhead.com/item=@lootEntry.ItemNumber">@lootEntry.ItemName</a></td>
                    <td>@lootEntry.Cost</td>
                </tr>
            }
        </tbody>
    </table>
}

@code 
{
    private String SearchPlayer { get; set; } = "";
    private String SearchItem { get; set; } = "";
    private List<LootEntry> lootEntries;
    private List<LootEntry> FilteredLootEntries => lootEntries.Where(i => i.Player.ToLower().StartsWith(SearchPlayer.ToLower()) && i.ItemName.ToLower().Contains(SearchItem.ToLower())).ToList();

    protected override async Task OnInitializedAsync()
    {
        lootEntries = await DkpService.GetLootListAsync();
    }
}
